// Checkboxes ===========================================
ul.inline-task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.inline-task-list li {
  position: relative;
  padding: 5px 26px 5px;
  text-decoration: none;
}

ul.inline-task-list li.checked::before {
  content: "\2611"; /* You can also use UTF-8 character codes*/
  font-size: 25px;
  color: green;
  left: 5px;
  position: absolute;
  top: -2px;
}

ul.inline-task-list li::before {
  content: "\2610";
  font-size: 25px;
  color: grey;
  left: 5px;
  position: absolute;
  top: -2px;
}
