// =====================================================
// Main content of the page is wrapped by id '#Content'
// with support for different column layouts
// =====================================================

#Content {
  position: relative;
  max-width: var(--base-width);
  margin: auto;
  // padding: 20px !important;

  &.fullWidth {
    max-width: 100%;
  }

  .contentLayout2 {
    // max-width: 100vw;

    .columnLayout {
      // display: grid;
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: column;
      max-width: 100vw;

      // 2 columns layout with smaller in the left
      &.two-left-sidebar {
        background-color: peachpuff; // debug
        grid-template-columns: 0.3fr 0.7fr;
        grid-template-areas: 'aside normal';
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }

      // 2 columns layout with smaller in the right
      &.two-right-sidebar {
        background-color: peachpuff; // debug
        grid-template-columns: 0.7fr 0.3fr;
        grid-template-areas: 'normal aside';
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }

      // 2 equal columns layout
      &.two-equal {
        background-color: greenyellow; // debug
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'normal normal';
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }

      // 3 equal columns layout
      &.three-equal {
        background-color: antiquewhite; // debug
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'normal normal normal';
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }

      // 3 columns layout with 2 sides smaller
      &.three-with-sidebars {
        background-color: skyblue; // debug
        grid-template-columns: 0.25fr 0.5fr 0.25fr;
        grid-template-areas: 'sidebars normal sidebars';
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }
    }
  }
}

.aside {
  grid-area: aside;
  margin-left: 10px;
  // width: auto;
  border-style: double; // debug
  border-color: royalblue; // debug
  border-width: 4px; // debug
}

.normal {
  grid-area: normal;
  padding-left: 10px;
  // margin-left: 10px;
  border-style: double; // debug
  border-color: hotpink; // debug
  border-width: 4px; // debug
  width: 100%;
}

.sidebars {
  grid-area: sidebars;
  margin-left: 10px;
  // width: auto;
  border-style: double; // debug
  border-color: steelblue; // debug
  border-width: 4px; // debug
}

.innerCell {
  word-wrap: break-word;
}
