// =====================================================
// Main content of the page is wrapped by id '#Content'
// with support for different column layouts
// =====================================================

#Content {
  position: relative;
  max-width: $base-width;
  margin: auto;
  // margin-left: 20px;
  padding: 20px !important;

  &.fullWidth {
    max-width: 100%;
  }

  .columnLayout {
    padding-top: 10px;
    // 2 equal columns layout
    &.two-equal {
      width: 100%;
      display: flex;
      flex-direction: row;

      .cell {
        &.normal {
          flex-basis: 50%;
          margin-left: 32px;
          @media screen and (max-width: 1024px) {
            margin-left: 0px;
          }
        }
        // p {
        // padding-top: 10px;
        // }
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
    }

    // 2 columns layout with smaller in the right
    &.two-right-sidebar {
      width: 100%;
      display: flex;
      flex-direction: row;

      .cell {
        &.normal {
          flex-basis: 66.6%;
        }
        &.aside {
          flex-basis: 33.3%;
          margin-left: 32px;
          @media screen and (max-width: 1024px) {
            margin-left: 0px;
          }
        }
        // p {
        // padding-top: 10px;
        // }
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
    }

    // 2 columns layout with smaller in the left
    &.two-left-sidebar {
      width: 100%;
      display: flex;
      flex-direction: row;

      .cell {
        &.normal {
          flex-basis: 66.6%;
          margin-left: 32px;
        }
        &.aside {
          flex-basis: 33.3%;
          @media screen and (max-width: 1024px) {
            margin-left: 30px;
          }
        }
        // p {
        // padding-top: 10px;
        // }
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
    }

    // 3 equal columns layout
    &.three-equal {
      width: 100%;
      display: flex;
      flex-direction: row;

      .cell {
        &.normal {
          flex-basis: 33.3%;
          margin-left: 32px;
          @media screen and (max-width: 1024px) {
            margin-left: 0px;
          }
        }
        // p {
        // padding-top: 10px;
        // }
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
    }

    // 3 columns layout with 2 sides smaller
    &.three-with-sidebars {
      width: 100%;
      display: flex;
      flex-direction: row;

      .cell {
        &.normal {
          flex-basis: 50%;
          margin-left: 32px;
          margin-right: 32px;
        }
        &.sidebars {
          flex-basis: 25%;
          @media screen and (max-width: 1024px) {
            margin-left: 0px;
          }
        }
        // p {
        // padding-top: 10px;
        // }
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
