// Information Panels =====================================
div.confluence-information-macro {
  padding-top: 5px;
  padding-bottom: 5px;
}
div.confluence-information-macro-body {
  border-radius: 3px;
  padding: 10px;
  border: solid 1px #998dd9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

// Info
div.confluence-information-macro-information
  .confluence-information-macro-body:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' color='steelblue' viewBox='0 0 24 24' focusable='false' role='presentation'%3E%3Cpath d='M12 20a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm0-8.5a1 1 0 0 0-1 1V15a1 1 0 0 0 2 0v-2.5a1 1 0 0 0-1-1zm0-1.125a1.375 1.375 0 1 0 0-2.75 1.375 1.375 0 0 0 0 2.75z' fill='currentColor' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  float: right;
}
div.confluence-information-macro-information
  .confluence-information-macro-body {
  background-color: var(--bg-info);
  border-left: 5px solid var(--border-info);
}

// Success
div.confluence-information-macro-tip .confluence-information-macro-body:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' color='green' viewBox='0 0 24 24' focusable='false' role='presentation'%3E%3Cpath d='M12 20a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm1.364-10.964l-2.152 4.11-1.543-1.39a1 1 0 1 0-1.338 1.487l2.5 2.25a1 1 0 0 0 1.555-.279l2.75-5.25a1 1 0 0 0-1.772-.928z' fill='currentColor' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  float: right;
}
div.confluence-information-macro-tip .confluence-information-macro-body {
  background-color: var(--bg-success);
  border-left: 5px solid var(--border-success);
}

// Warning
div.confluence-information-macro-note
  .confluence-information-macro-body:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' color='orange' viewBox='0 0 24 24' focusable='false' role='presentation'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M12.938 4.967c-.518-.978-1.36-.974-1.876 0L3.938 18.425c-.518.978-.045 1.771 1.057 1.771h14.01c1.102 0 1.573-.797 1.057-1.771L12.938 4.967z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M12 15a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v5a1 1 0 0 1-1 1m0 3a1 1 0 0 1 0-2 1 1 0 0 1 0 2' fill='white'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  float: right;
}
div.confluence-information-macro-note .confluence-information-macro-body {
  background-color: var(--bg-warning);
  border-left: 5px solid var(--border-warning);
}

// Error
div.confluence-information-macro-warning
  .confluence-information-macro-body:before {
  float: right;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' color='red' viewBox='0 0 24 24' focusable='false' role='presentation'%3E%3Cpath d='M13.485 11.929l2.122-2.121a1 1 0 0 0-1.415-1.415l-2.12 2.122L9.95 8.393a1 1 0 0 0-1.414 1.415l2.12 2.12-2.12 2.122a1 1 0 0 0 1.414 1.414l2.121-2.12 2.121 2.12a1 1 0 1 0 1.415-1.414l-2.122-2.121zM12 20a8 8 0 1 1 0-16 8 8 0 0 1 0 16z' fill='currentColor' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
div.confluence-information-macro-warning .confluence-information-macro-body {
  background-color: var(--bg-error);
  border-left: 5px solid var(--border-error);
}

// Panels =================================================
.panel[data-macro-name="panel"],
.alertPanel,
.infoPanel {
  color: #333;
  padding: 0;
  margin: 10px 0;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 3px;
}

.panel[data-macro-name="panel"] {
  padding: 10px;
}

.alertPanel {
  border-color: #c00;
}

.infoPanel {
  border-color: #69c;
}
