//
// These styles are used in the macros to include Excerpt and content by label.
// In both cases a thin border is shown to enclose the content embedded.
// Also some elements like blockquote are smaller than the regular one.
//

// DIV '.panel' used in 'Excerpt Include’ Macro =====================
.panel[data-macro-name='excerpt-include'],
.panel[data-macro-name='include'] {
  color: #333;
  margin: 0;
  border: 1px solid #d2cdcd;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  p {
    margin: 0;
  }

  .panelHeader {
    padding: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #d2cdcd;
  }

  .panelContent {
    padding: 20px;
    blockquote {
      width: 70%;
      margin: 20px auto;
      color: var(--font-color);
      padding: 10px 15px 10px 15px;
      border-left: 8px solid #578ff0;
      line-height: 1.2;
      background: var(--bg-blockquote);
      border-radius: 5px;
      &::before {
        position: absolute;
        top: -10px;
        left: -80px;
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: 600; // fa-solid for free usage
        content: '\f10d';
        font-size: 50px;
        color: gray;
      }
      &::after {
        content: '';
      }
    }
  }
}
