// 'User Profile' Macro =======================
// and ‘Profile Picture’ Macro styles
div.vcard {
  padding-top: 5px;
  position: relative;
  left: 0px;
  display: inline-block;
}

img.logo {
  padding: 5px;
  margin-right: 5px;
  border-radius: var(--user-avatar-radius);
  vertical-align: middle;
  display: inline-block;
  &.userLogo,
  &.userLogo-48 {
    width: 48px;
    height: 48px;
  }
  &.userLogo-96 {
    width: 96px;
    height: 96px;
  }
  &.userLogo-144 {
    width: 144px;
    height: 144px;
  }
}

div.values {
  display: inline-block;
  vertical-align: middle;
  a {
    word-break: break-all;
  }
}
