/* Normal font-style */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Italic font-style */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
