// Scroll back to top ===========================================

.back-to-top-wrapper {
  position: fixed;
  right: 10px;
  bottom: 10px;
  // Required for best support in browsers not supporting `sticky`
  width: 3em;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

a.back-to-top-link {
  background-image: none;
  &:hover {
    text-decoration: none;
  }
}

.back-to-top-link {
  position: sticky;
  // achieves desired positioning within the viewport
  // relative to the top of the viewport once `sticky` takes over
  top: calc(100vh - 5rem);
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #d6e3f0;
  opacity: 0.5;
  pointer-events: auto;
}

.back-to-top-link:hover,
.back-to-top-link:focus {
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-decoration: none;
  opacity: 0.7;
}

.back-to-top-link:before {
  content: '\21EA';
}
