/*!AUI Lozenge */

.aui-lozenge {
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 100%;
  margin: 2px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
}

.aui-lozenge-success {
  background-color: #14892c;
  border-color: #14892c;
  color: #fff;
}

.aui-lozenge-error {
  background-color: #d04437;
  border-color: #d04437;
  color: #fff;
}

.aui-lozenge-current {
  background-color: #ffd351;
  border-color: #ffd351;
  color: #594300;
}

.aui-lozenge-complete {
  background-color: #3e74ae;
  border-color: #4a6785;
  color: #fff;
}

.aui-lozenge-progress {
  background-color: #8339a0;
  border-color: #592e72;
  color: #fff;
}

.aui-lozenge-moved.aui-lozenge-subtle {
  background-color: #fff;
  border-color: #ece7e2;
  color: #815b3a;
}
