// Blockquote ======================================

blockquote {
  font-size: 1.1em;
  width: 60%;
  margin: 20px auto;
  color: var(--font-color);
  padding: 0.5em 25px 0.5em 25px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: var(--bg-blockquote);
  border-radius: 5px;
  &::before {
    position: absolute;
    font-family: 'FontAwesome', sans-serif;
    top: -30px;
    left: -120px;
    content: '\f10d';
    font-size: 100px;
    color: var(--font-color);
  }
  &::after {
    content: '';
  }
}
