// Default font IADC ======================================
@import 'variables';
@import 'content-layout';
@import 'media';
@import 'checkboxes';
@import 'tables';
@import 'blog';
@import 'scrolltotop';
@import 'reading-progress';
@import 'status';
@import 'blockquote';
@import 'copy-link';
@import 'links';
@import 'macro-decisions';
@import 'macro-expand-panel';
@import 'macro-info-panel';
@import 'macro-profile';
@import 'macro-toc';
@import 'macro-insert-excerpt';
@import 'macro-content-by-label';
@import 'macro-roadmap';
@import 'macro-jira';
@import 'dark-theme';
@import 'attachments';
@import 'author-header';

// Basic styles ===========================================
html {
  transition: color 300ms, background-color 300ms;
  scroll-behavior: smooth;
  font-family: var(--font-body);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  color: var(--font-color);
  font-weight: var(--main-font-weight);
}

h1.titlePage {
  color: var(--heading-color);
  font-size: var(--title-font-size);
  padding-top: 0.8rem;

  & .specialAtlassian {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
    }
  }
}

p {
  margin-bottom: 0px;
}

ul,
li p {
  margin: 0.5em;
}

.smalltext {
  font-size: $small-text;
  padding-left: 10px;
}

strong {
  font-weight: 500;
}

.emoticon {
  padding: 0;
}

// Headers ===========================================
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

// Hidden section ===========================================
.hidden {
  display: none;
}

// Source code ===========================================
// although most of the configuration and syntax highlights comes from addHighlights step
code {
  border-radius: 3px;
  color: var(--font-color);
  background-color: var(--highlight-grey);
  word-wrap: break-word;
}


// Macro Child Pages ==================================
ul.childpages-macro {
  font-size: 16px;
}
ul.childpages-macro li {
  padding-top: 5px;
}

// Tables embedded in a ‘Page Properties’ Macro will be displayed borderless
// this technique will be used to embed footers or menus with tables used for better layout organization
.conf-macro .plugin-tabmeta-details {
  padding-top: 40px;
  .table-wrap {
    .confluenceTd {
      border: 0px;
      padding: 10px;
      vertical-align: top;
      font-size: 12px;
    }
  }
}

// Macro image with caption
.image-caption {
  text-align: center;
  margin-top: .5rem;
}

@media (max-width: 700px) {
  tbody {
    margin: 0;
    border-spacing: 0;
    padding-bottom: 1rem;
    align-items: flex-start;
    flex-direction: column;
  }

  th {
    display: none;
  }

  tbody tr td {
    display: block;
    width: 95vw;
    box-sizing: border-box;
  }
  tr td:not(:first-of-type):not(:last-of-type):not(:only-of-type) {
    border-bottom: none;
    border-top: none;
  }

  tr td:first-of-type:not(:only-of-type) {
    border-bottom: none;
  }

  tr td:last-of-type:not(:only-of-type) {
    border-top: none;
  }

  tr td::before {
    content: attr(data-column-id) " " attr(data-lign-id);
    font-weight: bold;
    text-transform: capitalize;
  }
}
