#Content {
  .columnLayout {
    &.two-left-sidebar, &.two-right-sidebar  {
      background-color: peachpuff;
    }
    &.two-equal {
      background-color: greenyellow;
    }
    &.three-equal {
      background-color: antiquewhite;
    }
    &.three-with-sidebars {
      background-color: skyblue;
    }
  }

  .aside {
    border-style: double;
    border-color: royalblue;
    border-width: 4px;
  }

  .normal {
    border-style: double;
    border-color: hotpink;
    border-width: 4px;
  }

  .sidebars {
    border-style: double;
    border-color: steelblue;
    border-width: 4px;
  }
}