NODE_ENV = development
CPV_BASEHOST = http://localhost
CPV_BASEPATH = /cpv
CPV_JIRA_BASE_URL = https://domain.atlassian.net
CPV_CONFLUENCE_BASE_URL = https://domain.atlassian.net
CPV_CONFLUENCE_API_USERNAME =
CPV_CONFLUENCE_API_TOKEN =
CPV_CONFLUENCE_API_TIMEOUT = 8000
CPV_CONFLUENCE_API_MAX_REDIRECTS = 5
CACHE_TTL = 86400    # By default set to 24h
CACHE_MAX = 10
ENABLE_LOGGER_MIDDLEWARE = true
LOG_LEVEL = debug
