// Decisions ===========================================
ul.decision-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.decision-list li {
  position: relative;
  padding: 5px 35px 5px;
  text-decoration: none;
}

ul.decision-list li::before {
  content: '\1F396'; // medal with star 🎖 emoji
  font-size: 25px;
  color: grey;
  left: 5px;
  position: absolute;
  top: -2px;
}
