// Expander pannel ========================================
div.expand-container {
  border-radius: 10px;
  border: solid 1px var(--border-expander);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: var(--bg-expander);
}
div.expand-control:before {
  content: "\2795"; // symbol +
}
div.active:before {
  content: "\2796"; // symbol -
}
div.expand-control {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}
div.expand-control:hover {
  background-color: var(--border-expander);
  border-radius: 10px;
}
span.expand-control-text {
  padding: 5px;
  word-wrap: break-word;
  white-space: normal;
}
div.expand-content {
  transition: max-height 0.3s ease-out;
  font-size: 18px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
}
