// iframe Container =============================

// .container {
//   width: 100%;
//   height: 100%;
//   position: relative;
// }

.iframe--browser {
  width: 100%;
  // height: 80vh;
  background: #ddd;
  margin: 20px auto;
  border-radius: 8px;
  transition: all 0.33s ease-in-out;
  // position: relative;
}

.iframe--browser_bar {
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 30px;
  background: #a1a1a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.33s ease-in-out;
}
.iframe--browser_bar_tabs {
  display: flex;
  flex-direction: flex-row;
}

.iframe--browser_bar_btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.iframe--browser_bar_btn {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  // background-color: #e74c3c;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.iframe--browser_bar_btn_resize {
  background-color: #27ae60;
}

.iframe--browser_body {
  // padding-top: 66.25%;
  position: relative;
  width: 100%;
  // overflow: hidden;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  // align-items: left;
  height: calc(100% - 200px);
  transition: all 0.33s ease-in-out;
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bbb;
  }
}

.max {
  position: absolute;
  top: 20px;
  left: 0;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 0 auto;
}
.max .iframe--browser_body {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

.iframe--responsive {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
