// Reading Progress Bar =================================
// used by the script in addReadingProgressBar.ts
.reading-progress {
  background: #61a786;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  width: 0%;
  height: 5px;
  z-index: 1000;
}
