/* 404 page ================================== */

@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

html {
  font-family: 'Arvo', serif;
  background: #fff;
}

.page_404 {
  padding: 10px 0;
}

.page_404_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.page_404_bg h1 {
  font-size: 80px;
  text-align: center;
  color: #444444;
}

.page_404_content {
  margin-top: -70px;
  text-align: center;
  color: #444444;
}

.goToPage-btn {
  font-size: 16px;
  padding: 5px 10px;
  background: #8eca8a;
  margin: 10px 10px;
  border-radius: 5px;
  border: 1px;
  display: inline-block;
}

.pageID-input {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #444444;
  display: inline-block;
}

.center {
  margin: auto;
  width: 80%;
  max-width: 700px;
  padding: 10px;
}

/* 403 page ================================== */

.whistle {
  width: 20%;
  fill: #f95959;
  margin: 100px 40%;
  text-align: left;
  transform: translate(-50%, -50%);
  transform: rotate(0);
  transform-origin: 80% 30%;
  animation: wiggle 0.2s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

h1.page_403 {
  margin-top: -100px;
  margin-bottom: 10px;
  color: #facf5a;
  text-align: center;
  font-size: 90px;
  font-weight: 800;
}

h2.page_403 {
  color: #455d7a;
  text-align: center;
  font-size: 30px;
}
