/* ********************************************* */
/* *        IADC theme for reveal.js           * */
/* *           Author: Jose Gascon             * */
/* ********************************************* */

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}

/* ********************************************* */
/* *               GLOBAL STYLES               * */
/* ********************************************* */
:root {
  --background-color: #fff;
  --main-font: 'Patrick Hand', sans-serif;
  --main-font-size: 4.75vmin;
  --main-color: #343434;
  --main-line-height: 1.1em;
  --block-margin: 10px;
  --heading-margin: 0 0 20px 0;
  --heading-font: 'Patrick Hand', Impact, sans-serif;
  --heading-color: #1d287b;
  --heading-line-height: 1em;
  --heading-letter-spacing: normal;
  --heading-text-transform: uppercase;
  --heading-text-shadow: none;
  --heading-font-weight: normal;
  --heading1-text-shadow: none;
  --heading1-size: 2.1em;
  --heading2-size: 1.5em;
  --heading3-size: 1.5em;
  --heading4-size: 1em;
  --code-font-family: monospace;
  --code-font-size: 0.5em;
  --link-color: #268bd2;
  --link-color-hover: #9fd0f4;
  --selection-background-color: #a1d23f;
  --selection-color: #fff;
  --selection: #d2c63f;
  --theme-background: #885f16;
  --theme-blackground-blockquote: #daa983;
  --theme-blackground-light: #fee2cc;
  --theme-blackground-code: #554131;
  --default-text: #343434;
  --progress-color: #2bb640;
}

#Content {
  max-width: 100% !important;
}

.reveal-viewport {
  background: var(--background-color);
  background-color: var(--background-color);
}

.reveal {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: normal;
  color: var(--main-color);
}

.reveal ::selection {
  color: var(--selection-color);
  background: var(--selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1;
  font-weight: inherit;
}

.reveal .slides {
  text-align: left;
}

/* ********************************************* */
/* *                  HEADERS                  * */
/* ********************************************* */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--heading-margin);
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: bolder;
  line-height: var(--heading-line-height);
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--heading1-size);
}

.reveal h2 {
  font-size: var(--heading2-size);
}

.reveal h3 {
  font-size: var(--heading3-size);
}

.reveal h4 {
  font-size: var(--heading4-size);
}

/* ********************************************* */
/* *             SPECIAL HEADERS               * */
/* ********************************************* */

.reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  transition: background 800ms ease;
}
.cover .reveal {
  background: var(--theme-background);
}

.cover .reveal.cube .slides section:not(.stack):before {
  background: none !important;
}

.cover .reveal h1 {
  color: var(--theme-background);
}

.cover .reveal h1 {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 1em;
}

.cover .reveal h1:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  left: 30px;
  bottom: -20px;
}

.cover .reveal p {
  padding-left: 20px;
}

.cover .reveal p,
.cover .reveal p a {
  color: white;
}

.bubble h3 {
  background-color: var(--theme-background);
  color: white;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1em;
}

.bubble h3::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--theme-background);
  position: absolute;
  left: 30px;
  bottom: -20px;
}

.bubble h3 ~ p {
  padding-left: 30px;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: var(--main-line-height);
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 80%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
  margin: 0 0 0 2em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  background-color: var(--theme-blackground-blockquote);
  color: var(--default-text);
  padding: 30px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1em;
  font-style: normal;
  width: 100%;
}
.reveal blockquote:before {
  content: none;
}
.reveal blockquote:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--theme-blackground-blockquote);
  position: absolute;
  left: 30px;
  bottom: -20px;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: var(--code-font-size);
  font-family: var(--code-font-family);
  word-wrap: break-word;
}
.reveal code {
  font-family: monospace;
  text-transform: none;
  background-color: var(--theme-blackground-light);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background-color: var(--theme-blackground-code);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.297);
  border-radius: 10px;
}

.reveal table {
  margin: auto;
  width: 100%;
  /* border-collapse: collapse; */
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
  text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: 0.6em;
}

.reveal sub {
  vertical-align: sub;
  font-size: 0.6em;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/**********************************************/
/*****         IMAGE with links          ******/
/**********************************************/
.reveal a img.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/**********************************************/
/*****                LINKS              ******/
/**********************************************/
.reveal a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--link-color);
  background: var(--link-color-hover);
  text-shadow: none;
  text-decoration: underline;
  border: none;
  border-radius: 2px;
}

.reveal .roll span:after {
  color: #fff;
  background: #1a6091;
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid #93a1a1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #268bd2;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--progress-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #002b36;
  }
}
